@@include('../header.html', {
"bodyClass": "has-sidebar has-sidebar--1",
"templateName": "content-sidebar",
})

@@include('../template-parts/hero.html')
@@include('../template-parts/breadcrumb.html')

<div id="main-content" class="main-area">
  <div class="main-inner container-fluid">

    <!-- @@include('../sidebar-1.html') -->

    <main id="primary" class="site-main">
      <!-- //... -->
    </main>

    @@include('../sidebar-2.html')

  </div><!-- .container -->
</div><!-- #main-content -->

@@include('../footer.html')
