@charset "utf-8";

/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
  --selection-color: rgb(255 255 0 / 30%);
  --primary-font-family: 'Noto Sans KR', sans-serif;
  --primary-color: #49cc90;
  --primary-border-color: #dddddd;
  --secondary-color: rgb(255 0 0);
}
